body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 10px;
    background-color: rgb(4, 253, 42);
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}
h2{
    font-family: 'Times New Roman';
    color: #0202fd;
}
.answer{
    margin: 10px;
}
.hidden {
    display: none;
}
